@import "../core/variables.scss";

.book_detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  height: 80vh;
  &::before {
    content: "";
    background-image: url("https://www.maxpixel.net/static/photo/640/Read-Book-Stack-Stacked-Books-Book-Literature-3346785.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: absolute;
    top: 25vh;
    right: 0px;
    bottom: -10vh;
    left: 0px;
    opacity: 0.8;
  }
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
  }
  &_info {
    position: relative;
    align-items: center;
    background-color: #7fffd4b8;
    height: fit-content;
    border-radius: 20px;
    padding: 10px;
  }
  .update_book {
    position: relative;
  }
}
.return_link_container {
  width: fit-content;
  padding-left: 30px;
  font-size: 1.4rem;
  position: relative;
  z-index: 2;
  .return_link {
    display: flex;
    align-items: center;
    width: fit-content;
    color: $links_color;
    &_title {
      margin: 10px;
    }
  }
}
