@import "../core/variables.scss";

.titles_list {
  &_item {
    border-radius: 5px;
    padding: 5px;
    &:hover {
      background-color: $list_items_hover;
    }
  }
  &_link {
    color: $links_color;
    display: block;
    padding: 5px;
    &:hover {
      color: white;
    }
  }
}
