.book_detail {
  height: 80vh;
  background-image: url(https://www.maxpixel.net/static/photo/640/Read-Book-Stack-Stacked-Books-Book-Literature-3346785.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  opacity: 0.8;
  align-items: center;
}
