@import "../core/variables.scss";

.titles_list {
  &_item {
    margin-bottom: 10px;
    &:hover {
      background-color: $list_items_hover;
      border-radius: 5px;
      padding: 5px;
    }
  }
  &_link {
    color: $links_color;
    display: block;
    &:hover {
      color: white;
      padding: 5px;
    }
  }
}
