.form {
  input {
    display: block;
    margin: 10px 0 10px 0;
    padding: 6px;
    border-radius: 5px;
    border: solid 1px #d5107d;
    font-size: inherit;
  }
  &_asterisk {
    color: #d5107d;
    font-weight: bold;
  }
}
