// color
$page_color: mistyrose;
$links_color: rgb(40, 40, 153);
$links_hover: rgb(87, 87, 219);
$list_items_hover: hotpink;

//fonts
$page_font: "Roboto", sans-serif;
$header_title: "Mea Culpa", cursive;

//fonts sizes
$large_font: 20px;
